@model WebAPI.Models.Seller
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@ViewData["Title"]</h4>
    <hr /> <!--Linha-->
    <dl class="dl-horizontal">
        <!--Lista-->
        <dt>
            <!--Nome do Campo-->
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <!--Valor do Campo-->
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <!--Nome do Campo-->
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            <!--Valor do Campo-->
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            <!--Nome do Campo-->
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>
        <dd>
            <!--Valor do Campo-->
            @Html.DisplayFor(model => model.BirthName)
        </dd>
        <dt>
            <!--Nome do Campo-->
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            <!--Valor do Campo-->
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt>
            <!--Nome do Campo-->
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            <!--Valor do Campo-->
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back to list</a>
</div>
    
